body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #e9eccf;  
}

h1 {
    color: #007BFF;  
}

.course-row {
    display: flex; 
    gap: 10px;      
    margin-bottom: 10px;
}

table {
    border-collapse: collapse;
    margin-top: 16px;
    width: 100%;
}

table th {
    background-color: #007BFF;
    color: white;
    padding: 8px;
}

table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}
